/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.hamburger-inner.mobile-menu,
.hamburger-inner.mobile-menu::before,
.hamburger-inner.mobile-menu::after {
    width: 26px;
    height: 2px;
    background-color: black;
    margin-top: 0px;
}

.sosmed-inline li {
    display:inline;
}

.header-shadow {
    -webkit-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
}



.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.img-responsive {
    width: 100%;
}

.gallery-photo-list > div {
    padding: 6px;
}
.gallery-photo-list img {
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}
.gallery-photo-list img:hover {
    opacity: 0.5;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.hide {
    display: none !important;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear-both {
    clear: both;
}
.separator {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-logout {
    background-color: rgba(0,0,0,0.1) !important;
}
.btn-logout:hover {
    background-color: #FFC107 !important;
}
.cart-item-more {
    font-size: 14px;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 20px;
}

.invalid-feedback {
    color: #a5360f;
}

.form-horizontal label {
    padding-top: 10px;
}

.product-item-wishlist-show {
    display: block !important;
}

.product-item-wishlist-show a {
    background-color: rgba(0,0,0,0) !important;
}
.product-item-wishlist-show a .ti-heart {
    color: #E5117E !important;
}

.grid_item ul > li:first-child > a {
    background-color: #E5117E;
}
.grid_item ul > li:first-child > a:hover {
    background-color: rgba(0,0,0,0);
}
.grid_item ul > li:first-child > a:hover .ti-heart {
    color: #E5117E !important;
}

.btn_1.btn-sm {
    padding: 8px 12px;
    font-size: 12px;
}

.btn_1.btn-sm.btn-success {
    background-color: #0abb87 !important;
    padding: 4px 8px;
    font-size: 12px;
}

.btn_1.btn-disabled, .btn_1.btn-disabled:hover {
    background-color: #F7F7F7 !important;
    color: rgba(0,0,0,0.5) !important;
    cursor: no-drop;
}

.modal-content {
    top: 120px;
    padding: 0px;
}

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    padding: 6px;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 1px solid #dddddd !important;
    background-color: white !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}

.payment-success-icon {
    color: #1ccacd;
    font-size: 90px;
}
.payment-error-icon {
    color: #ff8b33;
    font-size: 90px;
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }
    .d-sm-inline {
        display: inline !important;
    }
    .d-sm-inline-block {
        display: inline-block !important;
    }
    .d-sm-block {
        display: block !important;
    }
    .d-sm-table {
        display: table !important;
    }
    .d-sm-table-row {
        display: table-row !important;
    }
    .d-sm-table-cell {
        display: table-cell !important;
    }
    .d-sm-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-sm-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }
    .d-md-inline {
        display: inline !important;
    }
    .d-md-inline-block {
        display: inline-block !important;
    }
    .d-md-block {
        display: block !important;
    }
    .d-md-table {
        display: table !important;
    }
    .d-md-table-row {
        display: table-row !important;
    }
    .d-md-table-cell {
        display: table-cell !important;
    }
    .d-md-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-md-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }
    .d-lg-inline {
        display: inline !important;
    }
    .d-lg-inline-block {
        display: inline-block !important;
    }
    .d-lg-block {
        display: block !important;
    }
    .d-lg-table {
        display: table !important;
    }
    .d-lg-table-row {
        display: table-row !important;
    }
    .d-lg-table-cell {
        display: table-cell !important;
    }
    .d-lg-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-lg-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }
    .d-xl-inline {
        display: inline !important;
    }
    .d-xl-inline-block {
        display: inline-block !important;
    }
    .d-xl-block {
        display: block !important;
    }
    .d-xl-table {
        display: table !important;
    }
    .d-xl-table-row {
        display: table-row !important;
    }
    .d-xl-table-cell {
        display: table-cell !important;
    }
    .d-xl-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-xl-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media print {
    .d-print-none {
        display: none !important;
    }
    .d-print-inline {
        display: inline !important;
    }
    .d-print-inline-block {
        display: inline-block !important;
    }
    .d-print-block {
        display: block !important;
    }
    .d-print-table {
        display: table !important;
    }
    .d-print-table-row {
        display: table-row !important;
    }
    .d-print-table-cell {
        display: table-cell !important;
    }
    .d-print-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
    .d-print-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}
