.z-index-7 {
    z-index: 7;
}

.z-index-6 {
    z-index: 6;
}

p, .paragraph {
    font-size: 16px !important;
    color: #313131 !important;
}

.button-one span {
    font-family: 'Lato', sans-serif;
}

.title-section span {
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #313131 !important;
}

.banner-section-small-padding {
    padding: 50px 0 !important;
}

a.product {
    display: block !important;
    margin-bottom: 25px !important;
}

/* .banner-box h3, .banner-box h2 {
    color: #000 !important;
} */

.Concept-SubTitle, .tp-caption.Concept-SubTitle {
    color: #313131 !important;
}

.no-wrap {
    white-space: normal;
}

.navbar {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
    padding: 5px !important;
}

.navbar-toggler {
    padding: 12px;
    border: 1px solid transparent;
    background-color: #ea462b !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.navbar-toggler:focus {
    border: 1px solid rgba(234, 69, 43, 0.308) !important;
}

.gallery-section img, .gallery img {
    min-width: 100% !important;
    min-height: 100% !important;
    object-fit: cover;
}

.sidebar .category-widget ul li a:before {
    float: left;
    color: #cccccc;
    content: '\f054';
    font-family: 'FontAwesome';
    font-size: 7px;
    margin-right: 15px;
    margin-top: 10px;
}

.sidebar .category-widget ul li a span {
    float: right;
    color: #cccccc;
}

.sidebar .popular-widget ul.popular-list a {
    list-style: none;
    overflow-y: hidden;
    margin-bottom: 20px;
}

.span-small {
    font-size: 14px !important;
}

.service-icon {
    height: 48px !important;
    width: auto !important;
}

.menu-title-custom {
    background: url('../upload/banners/ban5.jpg') no-repeat left center !important;
    background-size: cover;
}

.heart{color:#e25555;}

.menu-cont h4 {
    line-height: 25px !important;
}

.emphasis-text { 
    text-overflow: ellipsis !important;
    overflow: hidden !important; 
    width: 180px !important; 
    height: 30px !important; 
    white-space: nowrap !important;
}

/* .news-content p {
    color: #000 !important;
} */

.text-light {
    color: #ffffff !important;
}

.invalid-feedback {
    display: block !important;
    color: #cc0000;
    margin: 0 0 20px !important;
}

#contact-form input[type=text], #contact-form textarea {
    margin: 0 !important;
}

iframe.gmap {
    border: 0 !important;
    width: 100% !important;
    height: 350px !important;
}

span.text-white {
    color: #fff !important;
}